<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>무신사 랭킹 분석</title>

    
</head>
<body>

    <iframe width="1000" height="1000" src="https://datastudio.google.com/embed/reporting/7da96629-8a67-4034-bb92-dec35200c41c/page/p_2sxjy9f8pc" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <!-- <br><br><br><a href="/dashboard2"> 더 보기 </a><br><br><br> -->
    <br><br><br><a href="/"> 처음 화면으로 돌아가기 </a><br><br><br>
</body>
</html>